@import "bourbon";

@media only screen and (max-width: 1199px) and (min-width: 993px) {
  //}
  /*CSS  Web~Oman*/

  /*CSS FONTS Web~Oman*/

  /*CSS FONTS END Web~Oman*/

  h2 {

  }

  /*CSS END Web~Oman*/



























} /* END 992px  */

/* TIMER*/
  #timer1f03fc5ce00d96faf74c6fef0288496c {
    min-width: 306px !important;
    margin-right: auto;
    margin-bottom: 30px !important;
  }

  .timer-element {
    width: 100px !important;
    height: 100px !important;
  }
  #timer-canvas-1f03fc5ce00d96faf74c6fef0288496c-days, #timer-canvas-1f03fc5ce00d96faf74c6fef0288496c-hours,
  #timer-canvas-1f03fc5ce00d96faf74c6fef0288496c-minutes, #timer-canvas-1f03fc5ce00d96faf74c6fef0288496c-secundes {
    width: 100px;

  }

  #timer-number-value-1f03fc5ce00d96faf74c6fef0288496c-days, #timer-number-value-1f03fc5ce00d96faf74c6fef0288496c-hours,
  #timer-number-value-1f03fc5ce00d96faf74c6fef0288496c-minutes, #timer-number-value-1f03fc5ce00d96faf74c6fef0288496c-secundes {
    font-size: 58px;

    margin-top: -20px;
  }

  #timer-number-1f03fc5ce00d96faf74c6fef0288496c-days, #timer-number-1f03fc5ce00d96faf74c6fef0288496c-hours,
  #timer-number-1f03fc5ce00d96faf74c6fef0288496c-minutes, #timer-number-1f03fc5ce00d96faf74c6fef0288496c-secundes {
    margin-top: -20px !important;
  }

  /*END TIMER*/












