@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular") format("svg"); }

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light") format("svg"); }

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold") format("svg"); }

@font-face {
  font-family: "BebasNeue Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BebasNeue Bold/BebasNeue Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue Bold/BebasNeue Bold.woff") format("woff"), url("../fonts/BebasNeue Bold/BebasNeue Bold.ttf") format("truetype"), url("../fonts/BebasNeue Bold/BebasNeue Bold.svg#BebasNeue Bold") format("svg"); }

@font-face {
  font-family: "BebasNeue Book";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BebasNeue Book/BebasNeue Book.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue Book/BebasNeue Book.woff") format("woff"), url("../fonts/BebasNeue Book/BebasNeue Book.ttf") format("truetype"), url("../fonts/BebasNeue Book/BebasNeue Book.svg#BebasNeue Book") format("svg"); }
